<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alexwu.codevar</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>14DE0D67-7EB9-48AB-B163-5C173B39D293</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9E3C4D3-CFEF-4A43-AFF0-E715EA987080</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>alexwu</string>
	<key>description</key>
	<string>利用openAI api 实现中文翻译为英文变量 Utilize openAI api to implement Chinese translation into English variables.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GPT-Based CodeVar</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>var</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Please Wait</string>
				<key>script</key>
				<string>/usr/local/bin/python3 var.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>输入变量名</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>14DE0D67-7EB9-48AB-B163-5C173B39D293</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C9E3C4D3-CFEF-4A43-AFF0-E715EA987080</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>利用openAI api 实现中文翻译为英文变量
Utilize openAI api to implement Chinese translation into English variables.</string>
	<key>uidata</key>
	<dict>
		<key>14DE0D67-7EB9-48AB-B163-5C173B39D293</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>C9E3C4D3-CFEF-4A43-AFF0-E715EA987080</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>/usr/local/bin/python3</string>
				<key>placeholder</key>
				<string>/usr/local/bin/python3</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>python3 路径配置 如果无法运行可以尝试修改默认路径</string>
			<key>label</key>
			<string>Python path</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>python_path</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>sk-XXXXXXXXXXXXXXXXXXX</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>输入Open AI 格式的 key</string>
			<key>label</key>
			<string>OpenAI key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>api_key</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>https://api.openai.com/v1/chat/completions</string>
				<key>placeholder</key>
				<string>https://api.openai.com/v1/chat/completions</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>请输入API的请求地址，不填写则默认为OpenAI官方地址</string>
			<key>label</key>
			<string>API URL</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>api_url</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>你是资深系统架构师，你接收中文变量名称，返回对应的英文变量名称。
要求:
1、返回的变量是通俗易懂的是开发领域中惯用的，可以适当使用缩写，
2、请注意，你应该表现的像是API接口，只需要返回结果，
3、不要对话，只返回结果
返回格式:{format}
翻译内容：{query}</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
				<key>verticalsize</key>
				<integer>6</integer>
			</dict>
			<key>description</key>
			<string>请求命令，不需要修改，如果有需求可以自定义</string>
			<key>label</key>
			<string>Promtp</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>prompt</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>gpt-3.5-turbo</string>
				<key>pairs</key>
				<array>
					<array>
						<string>gpt-3.5-turbo</string>
						<string>gpt-3.5-turbo</string>
					</array>
					<array>
						<string>gpt-4-turbo-preview</string>
						<string>gpt-4-turbo-preview</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>选择调用的模型</string>
			<key>label</key>
			<string>Model</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>model</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>蛇形式</string>
			</dict>
			<key>description</key>
			<string>示例：snake_case</string>
			<key>label</key>
			<string>输出格式（多选）</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>snake_case</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>大驼峰式</string>
			</dict>
			<key>description</key>
			<string>示例：UpperCamelCase</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>upper_camel_case</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>大驼峰式</string>
			</dict>
			<key>description</key>
			<string>示例：camelCase</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>camel_case</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.2</string>
	<key>webaddress</key>
	<string>https://github.com/XuanBoWu/GPT-Based-CodeVar</string>
</dict>
</plist>
